<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myAppFinal" data-ng-controller="shell">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>ver: {{appVersion.ver}}</p>
    <p>logged user: {{userInfo.username}}</p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>text</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="itm in todoList">
                    <td>{{itm.id}}</td>
                    <td>{{itm.text}}</td>
                </tr>
            </tbody>
        </table>
        <fieldset>
            <legend>New Todo</legend>
            id:
            <input type="text" data-ng-model="todoId" />
            text:
            <input type="text" data-ng-model="todoText" />
            <button data-ng-click="addnew(todoId, todoText)">Add New</button>
        </fieldset>
        <button data-ng-click="failTheHardWay()">Fail Hard!</button>
    </div>
    <script src="../Scripts/stacktrace.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="services.js"></script>
    <script src="appFinal.js"></script>
    <script src="exceptionHandler.js"></script>
</body>
</html>
