<div data-ng-controller="todoListCtrl">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>text</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="itm in todoList">
                <td>{{itm.id}}</td>
                <td>{{itm.text}}</td>
            </tr>
        </tbody>
    </table>
    <fieldset>
        <legend>New Todo</legend>
        id:
            <input type="text" data-ng-model="todoId" />
        text:
            <input type="text" data-ng-model="todoText" />
        <button data-ng-click="addnew(todoId, todoText)">Add New</button>
    </fieldset>
</div>
