.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6
{
    margin-bottom: 60px;
    text-transform: none;
    font-weight: bold;
}

.reveal li,
.reveal p {
    margin-bottom: 20px;
}
